h1{
    font-family: verdana;
    color: #DE101D;
    font-size: 2 ems;
}

p{
    font-family: garamond;
    font-size: 14px;
    color: #850F16
}

img{
    border: 2px solid black;
}

div{
    background-color: #DB5B0B;
    border: 2px solid #8F3C09;
}

a{
    color: white
}